/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
    min-height: 100vh;
    background: url(../img/about1.jpg) no-repeat center center / cover;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay effect */
body::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(45, 0, 70, 0.4);
  backdrop-filter: blur(3px);
  z-index: 0;
}

/* Payment container */
.payment-wrapper {
    position: relative;
    z-index: 100;
}

/* Glass card */
.payment-card {
  /* width: 340px; */
  padding: 30px 25px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
  color: white;
  text-align: center;
}

/* Title */
.payment-card h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Inputs */
.input-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 500px;
}
.input-box label{
    font-size: 17px;
    padding: 0px 0px 5px 30px;
    text-align: left;
    color: #2b2232;
}

/* Input + Select */
.input-box input,
.input-box select {
  width: 100%;
  padding: 12px 14px;
  border-radius: 999px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.9);
  font-size: 14px;
  color: #222;
}

/* Button */
.pay-btn {
  width: 100%;
  padding: 12px;
  border-radius: 999px;
  border: none;
  background: white;
  color: #5a2ca0;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  background-color: #bdb9e7;
  margin-top: 40px;
}

.pay-btn:hover {
  background: #f1e8ff;
}

#paymentDone{
    position: absolute;
    background-color: #8a5c55f5;
    z-index: 1000;
    border-radius: 6px;
    font-size: 13px;
    bottom: 10px;
    left: 0px;
    padding: 10px;
    margin: 10px 0px;
}
#paymentDone h1{
    text-transform: capitalize;
    color: white;
}

/* Responsive */
@media (max-width: 400px) {
  .payment-card {
    width: 90%;
  }
}